@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>How is it like</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular-resource.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/restangular/0.5.1/dependencies/underscore.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/restangular/0.5.1/restangular.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.min.js")"></script>
    </head>
    <body>
        @content
    </body>
</html>
